#
# Copy this file to ~/.b07 and edit
#

[ingress]

# the email address associated with your Ingress account

email = youremail@gmail.com

# if you use two-factor authentication, you'll need to create an
# application-specific password to use here

password = yourpassword

[server]

http_port = 8001
https_port = 8002
wss_port = 8003

# openssl req -x509 -newkey rsa:4096 -nodes -days 3650 -subj /CN=localhost -keyout key.pem -out cert.pem

ssl_key = ~/dev/b07/key.pem
ssl_cert = ~/dev/b07/cert.pem

web_root = ~/dev/b07/static

[emailserver]

# the server hostname (for using your gmail, use smtp.gmail.com)

hostname = ***

# port of the server (for using your gmail, use 465)

port = ***

# email address of the user to send email (for using your gmail, use your gmail e-mail address)

email = ********

# password of the email user (for using your gmail, use your gmail password)

password = ******


