#
# Copy this file to ~/.b07 and edit
#

[ingress]

# the email address associated with your Ingress account

email = youremail@gmail.com

# if you use two-factor authentication, you'll need to create an
# application-specific password to use here

password = yourpassword

[emailserver]

# the server hostname (for using your gmail, use smtp.gmail.com)

hostname = ***

# port of the server (for using your gmail, use 587)

port = ***

# email address of the user to send email (for using your gmail, use your gmail e-mail address)

email = ********

# password of the email user (for using your gmail, use your gmail password)

password = ******


